remediation/restore-sentinel-incident-tags/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Restore Sentinel Incident Tags",
    "description": "Logic App playbook that automatically restores required tags/labels on Microsoft Sentinel incidents when they are removed by services using PUT (full-replace) semantics, such as the Security Copilot Phishing Triage Agent or Microsoft Defender XDR alert correlation.",
    "prerequisites": "Microsoft Sentinel must be enabled on the target Log Analytics workspace. After deployment, you must: (1) authorize the API connection, (2) grant the Logic App managed identity the 'Microsoft Sentinel Responder' role on the workspace, and (3) create a Sentinel Automation Rule to trigger this playbook.",
    "disclaimer": "This template is provided AS IS without warranty of any kind, express or implied. It is for educational and experimental purposes only and is NOT an officially supported Microsoft product or tool. Use at your own risk. You are solely responsible for any resources deployed and costs incurred. Always review templates before deploying. Test in a non-production environment first.",
    "author": "SOC Engineering",
    "lastUpdated": "2026-04-07"
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Restore-SentinelIncidentTags",
      "metadata": {
        "description": "Name for the Logic App playbook."
      }
    },
    "RequiredTags": {
      "type": "string",
      "defaultValue": "AutoRemediate,PhishingReview",
      "metadata": {
        "description": "Comma-separated list of tags that must always be present on incidents. The playbook will restore any of these tags if they go missing."
      }
    }
  },
  "variables": {
    "sentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
    "sentinelApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('sentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[variables('sentinelApiId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "tags": {
        "purpose": "sentinel-tag-restoration",
        "hidden-SentinelTemplateName": "RestoreSentinelIncidentTags",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "RequiredTags": {
              "type": "String",
              "defaultValue": "[parameters('RequiredTags')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_IncidentArmId": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "IncidentArmId",
                    "type": "string",
                    "value": "@triggerBody()?['object']?['id']"
                  }
                ]
              }
            },
            "Initialize_RequiredTags_Array": {
              "type": "InitializeVariable",
              "runAfter": {
                "Initialize_IncidentArmId": ["Succeeded"]
              },
              "inputs": {
                "variables": [
                  {
                    "name": "RequiredTagsList",
                    "type": "array",
                    "value": "@split(parameters('RequiredTags'), ',')"
                  }
                ]
              }
            },
            "GET_Current_Incident": {
              "type": "Http",
              "runAfter": {
                "Initialize_RequiredTags_Array": ["Succeeded"]
              },
              "inputs": {
                "method": "GET",
                "uri": "https://management.azure.com@{variables('IncidentArmId')}?api-version=2024-03-01",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "Parse_Incident_Body": {
              "type": "ParseJson",
              "runAfter": {
                "GET_Current_Incident": ["Succeeded"]
              },
              "inputs": {
                "content": "@body('GET_Current_Incident')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "etag": { "type": "string" },
                    "type": { "type": "string" },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "severity": { "type": "string" },
                        "status": { "type": "string" },
                        "owner": { "type": "object" },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "labelName": { "type": "string" },
                              "labelType": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Extract_Current_Tag_Names": {
              "type": "Select",
              "runAfter": {
                "Parse_Incident_Body": ["Succeeded"]
              },
              "inputs": {
                "from": "@if(equals(body('Parse_Incident_Body')?['properties']?['labels'], null), json('[]'), body('Parse_Incident_Body')?['properties']?['labels'])",
                "select": "@item()?['labelName']"
              }
            },
            "Find_Missing_Tags": {
              "type": "Query",
              "runAfter": {
                "Extract_Current_Tag_Names": ["Succeeded"]
              },
              "inputs": {
                "from": "@variables('RequiredTagsList')",
                "where": "@not(contains(body('Extract_Current_Tag_Names'), item()))"
              }
            },
            "Check_If_Tags_Missing": {
              "type": "If",
              "runAfter": {
                "Find_Missing_Tags": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Find_Missing_Tags'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Build_Merged_Labels": {
                  "type": "Select",
                  "runAfter": {},
                  "inputs": {
                    "from": "@union(body('Extract_Current_Tag_Names'), body('Find_Missing_Tags'))",
                    "select": {
                      "labelName": "@item()",
                      "labelType": "User"
                    }
                  }
                },
                "PUT_Restore_Tags": {
                  "type": "Http",
                  "runAfter": {
                    "Build_Merged_Labels": ["Succeeded"]
                  },
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://management.azure.com@{variables('IncidentArmId')}?api-version=2024-03-01",
                    "headers": {
                      "If-Match": "@body('Parse_Incident_Body')?['etag']"
                    },
                    "body": {
                      "etag": "@body('Parse_Incident_Body')?['etag']",
                      "properties": {
                        "title": "@body('Parse_Incident_Body')?['properties']?['title']",
                        "severity": "@body('Parse_Incident_Body')?['properties']?['severity']",
                        "status": "@body('Parse_Incident_Body')?['properties']?['status']",
                        "owner": "@body('Parse_Incident_Body')?['properties']?['owner']",
                        "labels": "@body('Build_Merged_Labels')"
                      }
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    }
                  }
                },
                "Log_Tags_Restored": {
                  "type": "Compose",
                  "runAfter": {
                    "PUT_Restore_Tags": ["Succeeded"]
                  },
                  "inputs": {
                    "action": "tags_restored",
                    "incidentId": "@variables('IncidentArmId')",
                    "restoredTags": "@body('Find_Missing_Tags')",
                    "totalLabels": "@length(body('Build_Merged_Labels'))"
                  }
                }
              },
              "else": {
                "actions": {
                  "Log_Tags_Intact": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "action": "tags_intact",
                      "incidentId": "@variables('IncidentArmId')",
                      "currentTagCount": "@length(body('Extract_Current_Tag_Names'))"
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[variables('sentinelApiId')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "managedIdentityObjectId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'Full').identity.principalId]"
    },
    "postDeploymentSteps": {
      "type": "string",
      "value": "1) Authorize the API connection in the Logic App designer. 2) Grant 'Microsoft Sentinel Responder' role to the managed identity on your workspace. 3) Create a Sentinel Automation Rule to trigger this playbook on incident updates."
    }
  }
}
